
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 100vh;  
}
.card {
  background: whitesmoke;
  border-radius: 5px;
  padding: 50px;
}
.buttons {
  display: flex;
  justify-content: center;
  
}
#text {
  font-size: 30px;
  margin: 0;
}
#author {
  font-size: 15px;
  margin: 25px 0px;
}

#new-quote {  
  color: whitesmoke;
  margin-left: auto;  
}

.designer {
  text-align: center;
  color: whitesmoke;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.btn:hover {opacity: 0.85}